extends layout


block content
  br
  //Month and Year selections
  form#goCal(method='GET' action='/loadCal')
    label(for='monthList') Jump To:
    select#monthList(name='monthList')
      option(value='0') Jan
      option(value='1') Feb
      option(value='2') Mar
      option(value='3') Apr
      option(value='4') May
      option(value='5') Jun
      option(value='6') Jul
      option(value='7') Aug
      option(value='8') Sep
      option(value='9') Oct
      option(value='10') Nov
      option(value='11') Dec
    label(for='yearList')
    select#yearList(name='yearList')
      option(value='1990') 1990
      option(value='1991') 1991
      option(value='1992') 1992
      option(value='1993') 1993
      option(value='1994') 1994
      option(value='1995') 1995
      option(value='1996') 1996
      option(value='1997') 1997
      option(value='1998') 1998
      option(value='1999') 1999
      option(value='2000') 2000
      option(value='2001') 2001
      option(value='2002') 2002
      option(value='2003') 2003
      option(value='2004') 2004
      option(value='2005') 2005
      option(value='2006') 2006
      option(value='2007') 2007
      option(value='2008') 2008
      option(value='2009') 2009
      option(value='2010') 2010
      option(value='2011') 2011
      option(value='2012') 2012
      option(value='2013') 2013
      option(value='2014') 2014
      option(value='2015') 2015
      option(value='2016') 2016
      option(value='2017') 2017
      option(value='2018') 2018
      option(value='2019') 2019
      option(value='2020') 2020
      option(value='2021') 2021
      option(value='2022') 2022
      option(value='2023') 2023
      option(value='2024') 2024
      option(value='2025') 2025
      option(value='2026') 2026
      option(value='2027') 2027
      option(value='2028') 2028
      option(value='2029') 2029
      option(value='2030') 2030

    button(type='submit') Go!

  br

  //Calendar
  div(class='week')
    div(class'day-header') Sunday
    div(class'day-header') Monday
    div(class'day-header') Tuesday
    div(class'day-header') Wednesday
    div(class'day-header') Thursday
    div(class'day-header') Friday
    div(class'day-header') Saturday
  -if ((typeof days) !== 'undefined'){
  -for(var i=0; i<5, i++){
  div(class='week')
    -for(var j=0; j<7; j++){
    div(class='day')
      h2(class='day-label') #{j+1}
      div(class='event' data-span='1') Event
      div(class='event') Event
  -};
  -};
  -}
  br
  form#addEvent(method='GET' action='/eventRedir')
    button(type='submit') Add Event
  br
  form#printAll(method='GET' action='/getAll')
    button(type='submit') Log Events
