body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
 .week {
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   grid-gap: 10px;
   grid-auto-flow: dense;
   background-color: #fff;
   color: #444;
 }
 .day{

 }
 .day-label {
   grid-row-start: 1;
 }
