body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  table-layout: auto;
}

td {
  height: 100px;
  width: 100px;
  vertical-align: top;
}

caption {
  font: 36px "Lucida Grande", Helvetica, Arial, sans-serif;
}
